{%- comment -%}
  This is a starter file you can refer to during intial development of the new slider section.
  The file contains the base required schema, including a heading and a collection.
  The heading is outputted within an <h2> tag.
  The collection object is assigned to a new variable, and then the products are iterated over with a for loop.
  For each product, the title is outputted to the DOM.

  Use this barebones file to create a slider.
{%- endcomment -%}

<div>

  <h2>{{ section.settings.collection_heading }}</h2>

  {% assign upsell_collection = section.settings.collection_object %}

  {% for upsell_product in upsell_collection.products %}
    {{ upsell_product.title }}

    {% unless forloop.last %}
      <br>
    {% endunless %}

  {% endfor %}

</div>

{% schema %}
{
  "name": "Upsell Slider (Starter)",
  "settings": [
    {
      "type": "header",
      "content": "Upsell Slider"
    },
    {
      "type": "text",
      "id": "collection_heading",
      "label": "Heading",
      "default": "Collection Heading"
    },
    {
      "type": "collection",
      "id": "collection_object",
      "label": "Collection"
    }
  ],
  "presets": [
    {
      "name": "Upsell Slider (Starter)"
    }
  ]
}
{% endschema %}

