@charset "UTF-8";
/**
 * entry file for Tailwind CSS
 * and other style files
 */
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* @import "my-file"; */


/* See BodyFix helper */
body.no-scroll {
  position: fixed;
  width: 100%;
  overflow-y: scroll;
}
#app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
main {
  flex: 1;
}